.remove
{
	display: none;
}

.bar
{
	display: inline;
	font-weight: 100;
	-webkit-transition: color 2s; /* For Safari 3.1 to 6.0 */
    transition: color 2s;
}

.bar-left
{
	display: left;
	vertical-align: baseline;
}

.rotate
{

}

.scale
{

}


.transform
{

}