div.videoAssembly
{
	float: none;
}

#ytplayer 
{
	z-index: 1;
}

.last-center
{
	text-align: center;
	background-color: black;	
}

.last-center > button
{
	padding: 0px 10px 0px 10px;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: #e8e8e8;
}

.gvidoc
{
	font-family: sans-serif;
	padding-left: 10px;
}

.title
{
	font-size: 24px;
	font-weight: 900;
}

.bar
{
	display: inline-block;
}

.spacing-info
{
	margin-top: 10px;
	margin-right: 10px;
}

.top-spacing
{
	margin-top: 10px;
}

.side-spacing
{
	margin-left: 10px;
}

.align-top
{
	vertical-align: top;
}

/*Text Align Center*/
.text-center
{
	text-align: center;
}

.line-bar
{
	display: inline;
}

.like
{

	float: left;
	height: 2px;
	background-color: green;
}

.dislike
{
	float: left;
	height: 2px;
	background-color: red;
}

.like-meter
{
	position: relative;
	min-width: 160px;
	max-width: 220px;
}



.series
{

}

.views
{

}

.logo
{
	opacity: 0.0;
	filter: alpha(opacity=00); /* For IE8 and earlier */
	-webkit-transition: opacity 4s; /* For Safari 3.1 to 6.0 */
    transition: opacity 4s;	
}

.load
{
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

img#logo {
-webkit-filter: grayscale(0);
filter: grayscale(0);
filter: url(#greyscale);
filter: none;
transition: 1s;
}

img#logo:hover {

-webkit-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;

}


.full
{
	margin-left: 0%;
	margin-right: 0%;

	-moz-transition: all.3s ease-in-out,background-image .3s ease-in-out;
	-webkit-transition: all.3s ease-in-out,background-image .3s ease-in-out;
	transition: all.3s ease-in-out,background-image .3s ease-in-out;
}

.videoAssembly {
	background: none;
}

.player
{
	background: white;
	background: white; /* Old browsers */
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) ;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1);
}

/* Responsive Media Queries */


@media only screen and (max-width: 519px) and (min-width: 300px) {
.gvidplayer
{
	margin: 0px;
	padding: 0px;
	border: 1px solid #e8e8e8;
}

.videoAssembly
{
	max-width: 85%;
    margin: 0 auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.video
{
	display:inline;
	width: 80%;
}



.extra
{
	display: inline;
	width: 20%;
	margin-left: -1px;
}

.player
{
	width: 100%;
	vertical-align: top;

}

.info
{
	width: 100%;
}

.panel
{
	width: 20%;
}

#ytplayer
{
	width: 100%;
	min-height: 25%;
}

#suggest
{
	margin: 0;
	width: 100%;

}

.sub 
{
	margin-left: 0;
}
}

@media only screen and (max-width: 699px) and (min-width: 520px) {
.gvidplayer
{
	margin: 0px;
	padding: 0px;
	border: 1px solid #e8e8e8;
}

.sub 
{
	margin-left: 0;
}

.videoAssembly
{
	max-width: 85%;
    margin: 0 auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.video
{
	display:inline;
	width: 80%;
}



.extra
{
	display: inline;
	width: 20%;
	margin-left: -1px;
}

.player
{
	width: 100%;
	vertical-align: top;

}

.info
{
	width: 100%;
}

.panel
{
	width: 20%;
}

#ytplayer
{
	width: 100%;
	min-height: 25%;
}

#suggest
{
	margin-top: 0;
	margin: 0;
	width: 100%;
}

.theatre
{
	max-width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #1b1b1b;

	-moz-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
	transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
}

}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
.gvidplayer
{
	margin: 0px;
	padding: 0px;
	border: 1px solid #e8e8e8;
}

.videoAssembly
{
	max-width: 85%;
    margin: 0 auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.video
{
	display:inline;
	width: 80%;
}



.extra
{
	display: inline;
	width: 20%;
	margin-left: -1px;
}

.player
{
	width: 100%;
	vertical-align: top;

}

.info
{
	width: 100%;
}

.panel
{
	width: 20%;
}

#ytplayer
{
	width: 100%;
	min-height: 65%;
}

#suggest
{
	margin: 0;
	width: 100%;
}

.theatre
{
	max-width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #1b1b1b;

	-moz-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
	transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
}


}
 
/* Desktops and laptops ----------- */
@media only screen and (max-width: 1584px ) and (min-width: 1001px) {

.gvidplayer
{
	margin: 0px;
	padding: 0px;
}

#suggest {
	float: right;
}


.videoAssembly
{
	max-width: 90%;
    margin: 0 auto;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.video
{
	display:inline;
	width: 80%;
}

.remove
{
	display: none;
}

.theatre
{
	max-width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #1b1b1b;

	-moz-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
	transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
}

.normal
{
	margin-left: 5%;
	margin-right: 5%;
}

.small
{
	width: 100%;
}



.extra
{
	display: inline;
	width: 20%;
	margin-left: -1px;
}

.player
{
	width: 75%;
	vertical-align: top;	
}

.info
{
	width: 100%;
	border: 1px solid #e8e8e8;
	border-bottom: none;
}

.panel
{
	position: relative;
	width: 20%;
	border: none;
	margin-top: -440px;	
	border: 1px solid #e8e8e8;
	-moz-transition: margin-top .3s ease-in-out,padding-top .3s ease-in-out;
	-webkit-transition: margin-top .3s ease-in-out,padding-top .3s ease-in-out;
	transition: margin-top .3s ease-in-out,padding-top .3s ease-in-out;
}

#ytplayer
{
	width: 75%;
	height: 440px;
	-moz-transition: width .3s ease-in-out, height .3s ease-in-out;
	-webkit-transition: width .3s ease-in-out, height .3s ease-in-out;
	transition: width .3s ease-in-out, height .3s ease-in-out;
}
}

/* Large screens ----------- */
@media only screen and (min-width : 1585px) {


.gvidplayer
{
	margin: 0px;
	padding: 0px;
	border: 1px solid #e8e8e8;
}

.videoAssembly
{
	max-width: 70%;
    margin: 0 auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.video
{
	display:inline;
	width: 80%;
}



.extra
{
	display: inline;
	width: 20%;
	margin-left: -1px;
}

.player
{
	width: 74.66%;
	vertical-align: top;

}

.info
{
	width: 100%;
}

.panel
{
	width: 24%;
}

#ytplayer
{
	width: 100%;
	height: 580px;
}

#suggest
{
	margin-top: 0;
	float: right;
}

.theatre
{
	max-width: 100%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #1b1b1b;

	-moz-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
	transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
}


}
 
/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

.info-player
{
	
}

div.panel
{
	padding: 1em 0em 0em 0em;
	margin-bottom: 0em;
	position: relative;
	width: 24%;
	/*top: -5px;*/
}

.sug-title
{
	width: 70%;
}

